<!DOCTYPE html>

<!-- #################################################### -->
<!--                                                      -->
<!--           Created by: MAP traffic management         -->
<!--                       Leroy op den Kelder             -->
<!--           Website:    http://www.maptm.nl            -->
<!--           Email:      info@maptm.nl                  -->
<!--                                                      -->
<!-- #################################################### -->

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- -->
  <meta name="description" content="MapTM tooling Dashboard">
  <meta name="author" content="Leroy op den Kelder">

  <!--  -->
  <title>MAPtm tooling</title>

  <!-- Favicon -->
  <link rel="icon" href="modules/global/favicon.ico">

  <!-- Font-awesome CSS -->
  <link rel="stylesheet" type="text/css" href="modules/font-awesome/css/all.css">

  <!-- Scrollbar CSS -->
  <link rel="stylesheet" type="text/css" href="modules/global/scrollbar.css">

  <!--  -->
  <link rel="stylesheet" type="text/css" href="scripts/custom.css">

  <!-- bulma css and script-->
  <link rel="stylesheet" href="modules/bulma/css/bulma.min.css">

</head>

<body>
  <div id="videoList">
    <video-modal v-for="modal in videoModals" :key="modal.title" :title="modal.title" :link="modal.link"></video-modal>
  </div>
  <div id="infoList">
    <info-modal v-for="modal in infoModals" :key="modal.title" :title="modal.title"></info-modal>
  </div>
  <div id="NavLand" class="">
    <nav-bar></nav-bar>
  </div>
  <div id="Main" class="columns is-gapless fullheight">
    <div id="Side">
      <side-bar></side-bar>
    </div>
    <div class="column is-hidden" id="IframeColumn">
      <div class="iframe-container fullheight">
        <iframe class="scrollbar-warning" name="toolframe" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="column is-fullwidth scrollbar-warning fullheight maxheight" id="LandingPage">
      <div id="LandingList" class="columns is-centered is-multiline light-padding is-fullwidth">
        <landing-frame v-for="tool in toolList" v-bind:tool="tool" v-bind:key="tool.id"></landing-frame>
      </div>
    </div>
  </div>

</body>

<script>
var toolList = [
  {id: 0, link: 'https://tv.maptm.nl/', image: 'Images/trafficviewer.png', name: 'https://tv.maptm.nl/', text: 'MAPtm traffic viewer',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  {id: 1, link: 'https://timviewer-demo.maptm.nl', image: 'Images/TIMviewer.png', name: 'https://timviewer-demo.maptm.nl', text: 'TIMviewer',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  // {id: 2, link: 'https://timapp-demo.maptm.nl', image: 'Images/TIMapp.png', name: 'https://timapp-demo.maptm.nl', text: 'TIMapp'},
  {id: 3, link: 'https://services.maptm.nl/UtrechtHB/', image: 'Images/UtrechtHB.png', name: 'https://services.maptm.nl/UtrechtHB/', text: 'Utrecht HB tool',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  {id: 4, link: 'https://comol5.maptm.nl/modules/login/login.html', image: 'Images/comol5.png', name: 'https://comol5.maptm.nl/modules/login/login.html', text: 'COMOL5',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  {id: 5, link: 'http://mapinsight-kiemenspeurder-demo.s3-website.eu-central-1.amazonaws.com/', image: 'Images/Kiemenspeurder.png', name: 'http://mapinsight-kiemenspeurder-demo.s3-website.eu-central-1.amazonaws.com/', text: 'Kiemenspeurder',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  {id: 6, link: 'https://demo.maptm.nl/AIS-Explorer/', image: 'Images/AISexplorer.png', name: 'https://demo.maptm.nl/AIS-Explorer/', text: 'AIS explorer',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  {id: 7, link: 'https://bmams.maptm.nl/', image: 'Images/BM-amsterdam.png', name: 'https://bmams.maptm.nl/', text: 'Bereikbaarheidsmeter Amsterdam',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  {id: 8, link: 'https://ontfant.maptm.nl/monitoring.html', image: 'Images/STSAntwerpen.png', name: 'https://socrates.antwerp.maptm.nl/index.html', text: 'Socrates Antwerpen',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  {id: 9, link: 'https://socrates.amsterdam.maptm.nl/', image: 'Images/Socrates-amsterdam.png', name: 'https://socrates.amsterdam.maptm.nl/', text: 'Socrates Amsterdam',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}},
  {id: 10, link: 'https://socialtrafficmanagement.nl/koningsdag/', image: 'Images/P-Fiets-live.png', name: 'https://socialtrafficmanagement.nl/koningsdag/', text: 'P-Fiets Live',
  info: {author: 'Piet', taal: 'Html, css, javascript', usage: '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."'}}
];

</script>

<!-- Here we run post-html scripts -->
<script src="modules/global/vue.js"></script>
<script src="scripts/navbar.js"></script>
<script src="scripts/modal.js"></script>
<script src="scripts/landingframe.js"></script>
<script src="scripts/Sidebar.js"></script>
